<div class="row my-5 d-flex justify-content-center">
  <div id="about">
    <p>Hello, I'm a full stack web developer based in Tokyo, Japan.
      I've been studying foreign languages my entire life,
      so the addition of coding languages felt like the natural next move!
    </p>
  </div>
</div>
