<div class="row my-5 d-flex justify-content-center">
  <div id="about" class="d-flex justify-content-around">
    <div class="title">
      About
    </div>
    <div class="description">
      <p>USA-born, Japan-sworn.
        Based in Japan for over nine years,
        I've been studying foreign languages my entire life,
        so the addition of coding languages felt like the natural next move!
      </p>
      <p>
        Tea is my life-blood, books and games are my passion, and nature is my muse.
        As such, when I'm not coding you'll most likely find me huddled up with a good book or game controller in hand.
        And if not, then I'm probably out on a mountain somewhere with my nose in a tree.
      </p>
    </div>
  </div>
</div>
