<div class="row my-5">
  <div class="col-12">
    <div class="container about-me">
      <div id="about">
        <h2>Hello</h2>
        <p>I'm Rachael, a full stack web developer based in Tokyo, Japan.
          I've been studying foreign languages my entire life,
          so the addition of coding languages felt like the natural next move.
        </p>
      </div>
    </div>
  </div>
</div>
