<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag "../../images/avatar-cropped.jpg", alt: "profile photo", class: 'avatar' %>
    <h1 class="title-main">Rachael Momber</h1>
    <h4>Developer</h4>
  </div>
</div>
