<div class="row justify-content-center banner align-items-end">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag "../../images/IMG_7171_square.JPG", alt: "profile photo", class: 'avatar' %>
    <h1 class="title-main">Rachael Momber</h1>
    <h4>Building web apps one cup of tea at a time</h4>
  </div>
  <div class="arrow">
    <i class="fa-solid fa-angles-down fa-bounce fa-2xl"
      style="margin-top: -20px;
      display: flex;
      justify-content: center;"
    ></i></i>
</div>
</div>
