<div class="row">
  <div class="col-12">
    <div class="credits d-flex justify-content-end">
      <p>Background by
        <a
          href="https://www.freepik.com/free-vector/gold-watercolour-background_73336239.htm#page=2&query=Tea%20stain&position=30&from_view=search&track=ais&uuid=789bcf5b-4a46-4de8-b108-e1016f88f48c"
          target="_blank";
          style="text-decoration: none; color: #f9f9f9; padding: 0px 10px;">
          juicy_fish
        </a> on Freepik and leaf border by
        <a
          href="https://www.freepik.com/free-photo/leaf-round-frame-watercolor-green_15477770.htm#query=tea%20leaves%20circle&position=4&from_view=search&track=ais&uuid=32b5d4dd-55af-4ec5-9b9a-a3c4bc1fffc9"
          target="_blank";
          style="text-decoration: none; color: #f9f9f9; padding: 0px 10px;">
          rawpixel.com
        </a> on Freepik
      </p>
    </div>
  </div>
</div>
