<div class="row my-5">
  <div class="col-12">
    <div id="contact">
      <div class="d-flex justify-content-center flex-wrap">
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-solid fa-envelope"></i>
          <%= mail_to "rlmomber@gmail.com", "", class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-github"></i>
          <%= link_to "", "https://github.com/RLMP44", target: '_blank', class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-linkedin"></i>
          <%= link_to "", "https://www.linkedin.com/in/rachael-momber/", target: '_blank', class: 'button-social-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="credits">
      <p><a href="https://www.freepik.com/free-vector/abstract-soft-brown-hand-painted-watercolor-pastel-background_30812772.htm">Image by Creative_hat</a> on Freepik</p>
      <p><a href="https://www.freepik.com/free-vector/gold-watercolour-background_73336239.htm#page=2&query=Tea%20stain&position=30&from_view=search&track=ais&uuid=789bcf5b-4a46-4de8-b108-e1016f88f48c">Image by juicy_fish</a> on Freepik</p>
      <p><a href="https://www.freepik.com/free-photo/leaf-round-frame-watercolor-green_15477770.htm#query=tea%20leaves%20circle&position=4&from_view=search&track=ais&uuid=32b5d4dd-55af-4ec5-9b9a-a3c4bc1fffc9">Leaf border by rawpixel.com</a> on Freepik</p>
    </div>
  </div>
</div>
