.avatar {
  width: 200px;
  position: relative;
  border-radius: 50%;
  // border-image-source: url(../../images/leaf-border.png);
  // border-image-outset: 35px;
  // border-image-width: 133px;
  // border-image-slice: 45%;
  margin-bottom: 20px;
  // box-shadow: 2px 2px 100px 5px #fffdfe;
}

.leaf-border {
  width: 319px;
  height: 350px;
  position: absolute;
  top: 17%;
  right: 38.5%;
  // z-index: -1;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
