.pic {
  text-align: right;
}

.cards {
  display: grid;
}

.bionic-container {
  position: absolute;
  top: 2rem;
  left: 2rem;
  max-width: fit-content;
  border-radius: 5px;
  border: 2px solid #f9f9f9;
  color: #f9f9f9;
  background: transparent;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
