// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "banner";
@import "button";
@import "cards";
@import "form_legend_clear";
@import "navbar";
@import "flashy_card";
@import "text";
@import "container";
@import "icon";

// Smallest device
@media (min-width: 100px) and (max-width: 460px) {
  .card .buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 100px) and (max-width: 767px) {
  .card {
    grid-template-columns: 1fr;
    margin: 40px 0px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    height: auto;
    text-align: center;
    flex-direction: column;
    background-size: contain;
    background-image: url("../../images/projects/lines-border-vertical.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .card h2 {
    font-size: 30px;
  }

  .right-align {
    text-align: center;
  }

  .card img {
    margin: -100px 0 30px 0;
    width: 100%;
    max-width: 1000px;
    max-height: 30vh;
  }

  .card .stats var {
    min-width: 80px;
  }

  .card .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    list-style: none;
    margin: 0 0 24px;
    padding: 0;
  }

  .title {
    font-size: x-large;
    padding-left: 0px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .card h2 {
    font-size: 30px;
  }

  .card .stats var {
    min-width: 90px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }
}
