#about {
  max-width: 800px;
  text-align: start;
  color: black;
  align-items: center;
  margin-top: 30px;
  }

.title {
  margin-top: -40px;
  padding: 40px;
  font-weight: 300;
  font-size: xxx-large;
}

.title-main {
  margin-top: 20px;
}

.projects-title {
  font-weight: 300;
  font-size: xxx-large;
}

.projects-intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

.projects-description {
  border-image-source: url("../../images/single-line.png");
  border-image-outset: 23px;
  border-image-width: 19px;
  border-image-slice: 27% 0% 29% 45%;
}
